[submodule "mogenerator"]
	path = mogenerator
	url = git://github.com/danielctull-forks/mogenerator-binary.git
[submodule "DCTCoreDataStack"]
	path = DCTCoreDataStack
	url = git://github.com/danielctull/DCTCoreDataStack.git
[submodule "DCTDataSource"]
	path = DCTDataSource
	url = git://github.com/danielctull/DCTDataSource.git
